
/* div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  } */

  /* div {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  } */
  .entire-div{
    position: absolute;
    color: #bbbbbb;
    background-color: #000000;
    width: 50px;
    height: 50px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    animation: shift  10s infinite linear;
  }

  .entire-div#drag{
    position: absolute;
    color: #bbbbbb;
    background-color: #000000;
    width: 50px;
    height: 50px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    animation: shift  10s infinite linear;
  }

  .top-div {
    position: absolute;
    color: #bbbbbb;
    background-color: #000000;
    width: 100%;
    height: 80%;
    
  }

 

  .top-right-div {
    position: absolute;
    color: #bbbbbb;
    background-color: #ff0000;
    width: 75%;
    height: 95%;
    left: 25%;
    transform-style:  preserve-3d;
    animation: roundandround 4s 1.3s infinite linear;

    /* transform: rotateX(45deg) rotateY(180deg); */

  }
  
  .top-left-div {
    position: absolute;
    color: #333333;
    background-color: #000000;
    width: 25%;
    height: 100%;
    /* display: inline; */
    
  }

  .top-left-div-1 {
    position: absolute;
    color: #333333;
    background-color: #FFC0CB;
    width: 90%;
    height: 40%;
    animation: my-animation 1s ease 0s infinite alternate;
    animation-delay: 0.5s;

    
  }

  .top-left-div-2 {
    position: absolute;
    color: #333333;
    background-color: #FFFFFF;
    width: 90%;
    height: 45%;
    top: 50%;
    animation: my-animation 1s ease 0s infinite alternate;

  }

  .bottom-div {
    position: absolute;
    color: #ff0000;
    background-color: #000000;
    width: 100%;
    height: 22.5%;
    top:78.5%;

  }

  .bottom-div-1 {
    position: absolute;
    color: #ff0000;
    background-color: #0000FF;
    width: 22.5%;
    height: 100%;
    animation: my-animation-2 1s ease 0s infinite alternate;
    animation-delay: 0.6s;
  }
  
  .bottom-div-2 {
    position: absolute;
    color: #ff0000;
    background-color: #FFFFFF;
    width: 63%;
    height: 100%;
    left:25%;
    animation: my-animation-2 2s ease 0s infinite alternate;
    animation-delay: 0.4s;

  }

  .bottom-div-3 {
    position: absolute;
    color: #ff0000;
    background-color: #0000FF;
    width: 10%;
    height: 100%;
    left:90%;
    animation: my-animation-2 1s ease 0s infinite alternate;
    animation-delay: 0.2s;

  }
  
  
  /* .second-div {
    position: relative;
    color: #cccccc;
    background-color: #354dc4;
    width: 40vw;
    height: 40vh;
  }
   */


  @keyframes my-animation {
  0% {
    background: #7B7ABF;
    top: 0%;
    /* top: 10%; */
  }

  100% {
    background: #bbbbbb;
    top: 60%;
    /* top: 90%; */
  }
}

@keyframes my-animation-2 {
  0% {
    background: #E89BB0;
    left: 0%;
   
  }

  100% {
    background: #00caff;
    left: 35%;
    /* top: 90%; */
  }
}

@keyframes roundandround {
  50% {
    transform: rotateX(360deg) rotateY(360deg);
    background: #FFDC00;
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
    background: #ff0000;
  }
}

@keyframes shift {


  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}